
* {
  box-sizing: border-box;
}

body{
    max-height:fit-content;
    background-color: #e5e5e5;
}

.card-img-top{
    max-width: 100%;
    height: auto;
}

video {
    max-width: 100%;
    max-height: 700px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
  }

#titel{
    display: block;
    padding-top: 10px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 270px; 
    height: 150px;
}

.menu a {
  background-color: #e5e5e5;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}

.caption-intro{
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center; 
    color: black;
    font-weight: 500;
    transition: font-size 0.5s;
    
}

.caption-intro:hover{
    color: pink;
    font-size: 280%;
    transition-timing-function: ease;
    cursor: pointer;
    text-shadow: 0 0 5px #FF0000, 0 0 8px #0000FF;
}

.caption-intro:active {
    color: white;
    transition-timing-function: ease-in-out;
}

.caption-container {
    width: 100%;
    height: 80px;
}

.quotes p{
    text-align: center;
    justify-self: baseline;
    max-width: 900px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-size: 20px;
}

.hero-image {
    width: 100%;
    max-width: cover;
    height: auto;
    filter: brightness(100%);
    justify-content: center;
    display: flex;
}

.caption-image{
    width: max-content;
    position: relative;
}

.main {
    background-color: #e5e5e5;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 1000px;
    padding: 0 20px;
    justify-content: center;
    display: flex;
}

.titler{
    background-color: #e5e5e5;
}
.row-info{
    display: flex;
}
.column{
    flex: 50%;
    background-color: #630c22;
}

.row-info p{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    text-align: center;
    font-size: 20px;
    color: lightgray;
}

#intro-img{
    filter: brightness(100%);
    max-height: 400px; 
    max-width: 400px; 
    margin: auto;
}

#intro-img:hover{
    filter: brightness(115%);
    transition-timing-function: ease-out;
}

#top:hover{
    color: purple;
    cursor:pointer;
    text-shadow: 0 0 3px purple;
    transition-timing-function: ease;
}

#top:active {
    color: white;
    transition-timing-function: ease-in-out;
}

#kyofuuyo:hover{
    color: purple;
    cursor:pointer;
    text-shadow: 0 0 3px purple;
    transition-timing-function: ease;
}

#kyofuuyo:active {
    color: white;
    transition-timing-function: ease-in-out;
}

#jibun-no-unmei:hover{
    color: purple;
    cursor:pointer;
    text-shadow: 0 0 3px purple;
    transition-timing-function: ease;
}

#jibun-no-unmei:active {
    color: white;
    transition-timing-function: ease-in-out;
}

#raimei-ni:hover{
    color: purple;
    cursor:pointer;
    text-shadow: 0 0 3px purple;
    transition-timing-function: ease;
}

#raimei-ni:active {
    color: white;
    transition-timing-function: ease-in-out;
}

#watashi-wa:hover{
    color: purple;
    cursor:pointer;
    text-shadow: 0 0 3px purple;
    transition-timing-function: ease;
}

#watashi-wa:active {
    color: white;
    transition-timing-function: ease-in-out;
}

@media only screen and (max-width: 1300px) {
    .row-info p{
        justify-self: center;
        max-width: 290px;
        font-size: 18px;
        margin-top: 40px;
        margin-left: auto;
        margin-left: auto;
    }
    #top{
        margin-top: 50px;
    }
}

@media only screen and (max-width: 1100px) {
    .row-info p{
        justify-self: center;
        max-width: 230px;
        font-size: 17px;
        margin-top: 50px;
        margin-left: auto;
        margin-left: auto;
    }
}

@media only screen and (max-width: 1000px) {
    .quotes p{
        margin-top: 15px;
        font-size: 16px;
        margin-right: 15px;
        margin-left: 15px;
    }
    .caption-intro{
        font-size: 26px;
        font-weight: normal;
    }
    .row-info p{
        justify-self: center;
        max-width: 150px;
        font-size: 17px;
        margin-top: 35px;
        margin-left: auto;
        margin-left: auto;
    }
    .caption-intro:hover{
        color: pink;
        font-size: 200%;
        transition-timing-function: ease;
        cursor: pointer;
        text-shadow: 0 0 5px #FF0000, 0 0 8px #0000FF;
    }
    #top{
        margin-top: 30px;
    }
}

@media only screen and (max-width: 750px) {
    .caption-container {
        width: 100%;
        height: 50px;
    }

    .menu, .main, .right{
        width: 100%;
    }
    .titler{
        margin: auto;
    }
    #titel{
        width: 200px; 
        height: 125px;
        margin-bottom: 10px;
    }
    .row {
        display: block;
        justify-content: center;
        max-width: 100%;
    }
    .quotes p{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .caption-intro{
        font-size: 21px;
        font-weight: normal;
    }
    .caption-intro:hover{
        color: pink;
        font-size: 145%;
        transition-timing-function: ease;
        cursor:pointer;
        text-shadow: 0 0 5px #FF0000, 0 0 8px #0000FF;
    }
    .column{
        height: 502px;
    }
    #quoters{
        width: 0%;
    }
    #quoters p{
        visibility: hidden;
    }
    #intro-img{
        overflow: hidden;
        max-height: 510px;
        max-width: 510px;
    }
}